@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 25 21% 22%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;
        --border: 25 5% 45%;
        --input: 210 40% 96%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;
        --primary: 217 91% 60%; /* Base → close to Tailwind's blue-500 */
        --primary-foreground: 0 0% 100%; /* White text for contrast */
        --primary-dark: 217 91% 50%; /* Similar to blue-600 */
        --primary-darker: 217 91% 40%; /* Similar to blue-700 */
        --primary-lighter: 217 91% 70%; /* Similar to blue-400 or slightly lighter */

        --secondary: 0 0% 11%;
        --secondary-foreground: 0 0% 100%;
        --secondary-dark: 0 0% 11%;
        --secondary-darker: 0 0% 11%;
        --accent: 47 40% 88%;
        --accent-foreground: 30 6% 25%;
        --accent-light: 45 44% 96%;
        --accent-lightest: 48 100% 98%;
        --accent-dark: 20 2% 72%;
        --accent-darker: 0 1% 54%;
        --safe: 165 70% 56%;
        --safe-foreground: 0 0% 100%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;
        --ring: 335 100% 34%;
        --radius: 0.5rem;
    }
}

body {
    @apply bg-background text-foreground;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

p {
    @apply text-base;
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-medium transition-all border font-sans;
    }
}
